@import '../shared/colors';

#graph-wrapper {
  display: inline-block;
  background-color: $medium-teal;
  font-family: 'Open Sans';
  margin: 0 auto;
  margin-top: 25px;
  min-width: 1164px;
  min-height: 350px;
}

#graph {
  margin-top: 20px;
}