@import './shared/colors';

#app-wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 15px;
  color: aliceblue;
  font-family: 'Raleway';
  background-color: $light-teal;
  text-align: center;
}

#stock-input {
  margin-top: 10px;
  input {
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 5px;
    color: aliceblue;
    outline: none;
  }
}