@import './shared/colors';

#app-wrapper {
  width: 100%;
  min-height: 100%;
  padding-top: 15px;
  color: aliceblue;
  font-family: 'Raleway';
  background-color: $light-teal;
  text-align: center;
}

#selected-date {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid hsl(208, 100%, 97%);
  border-top: 1px solid hsl(208, 100%, 97%);
  position: relative;
  top: 15px;
}

#stock-input {
  margin-top: 10px;
  input {
    background-color: transparent;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 5px;
    color: aliceblue;
    outline: none;
  }
}